<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Angular MDL</title>

  <!-- ========================================================== -->
  <!--                            CSS                             -->
  <!-- ========================================================== -->
  
  <!-- External CSS -->
  <link rel="stylesheet" href="libs/material-design-lite/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-blue.min.css" />

  <!-- Main CSS -->
  <!-- <link rel="stylesheet" href="../ng-mdl.css" /> -->
  <link rel="stylesheet" href="../dist/ng-mdl.min.css" />

  <!-- ========================================================== -->
  <!--                         Javascript                         -->
  <!-- ========================================================== -->

  <!-- External JS -->
  <script src="libs/jquery/dist/jquery.js"></script>
  <script src="libs/angular/angular.js"></script>
  <script src="libs/material-design-lite/material.js"></script>

  <!-- Main JS -->
  <script src="../dist/ng-mdl.js"></script>
  <!-- <script src="../dist/ng-mdl.min.js"></script> -->

  <!-- Test-App JS -->
  <script src="test-app.module.js"></script>

</head>

<!-- App starts here! -->
<body ng-app="test-app">

  <div ng-controller="TestController" class="dashboard-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Angular MDL Test Page</span>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span ui-sref="dashboard" class="mdl-layout-title">Drawer</span>
      <nav class="mdl-navigation">
        <a ng-click="closeDrawer()" class="mdl-navigation__link" href="#">Link and Close Drawer</a>
        <a class="mdl-navigation__link" href="#">Link and Don't Close Drawer</a>
      </nav>
    </div>
    <main class="mdl-layout__content dashboard">
      <div class="page-content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <h2>Dialogs</h2>
              </div>
              <div class="mdl-cell mdl-cell--3-col">
                <button ng-click="openAlert()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Open Alert Dialog</button>
              </div>
              <div class="mdl-cell mdl-cell--9-col"></div>
              <div class="mdl-cell mdl-cell--3-col">
                <button ng-click="openConfirm()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Open Confirm Dialog</button>
              </div>
              <div class="mdl-cell mdl-cell--9-col">
                <p style="font-size:20px;">Confirm Answer: {{confirmAnswer}}</p>
              </div>
              <div class="mdl-cell mdl-cell--3-col">
                <button ng-click="openDialog('1')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Open Dialog 1</button>
                <button ng-click="openDialog('2')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Open Dialog 2</button>
              </div>
              <div class="mdl-cell mdl-cell--9-col">
                <p style="font-size:20px;">Dialog Result: {{dialogResult}}</p>
              </div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <h2>Snackbar</h2>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <button ng-click="showNotify()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Notify Snackbar</button>
                <button ng-click="showSuccess()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Success Snackbar</button>
                <button ng-click="showInfo()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Info Snackbar</button>
                <button ng-click="showWarn()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Warn Snackbar</button>
                <button ng-click="showError()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Error Snackbar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  

    <mdl-dialog dialog-id="test-dialog-1" dialog-title="I'm Test Dialog 1">
      <p>Some content</p>
      <hr/>
      <button ng-click="dialogAction('Test dialog 1 action'); closeDialog('1');" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Do Something!</button>
      <button ng-click="closeDialog('1')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Close</button>
    </mdl-dialog>

    <mdl-dialog dialog-id="test-dialog-2" dialog-title="I'm Test Dialog 2">
      <p>Some content</p>
      <hr/>
      <button ng-click="dialogAction('Test dialog 2 action'); closeDialog('2');" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Do Something!</button>
      <button ng-click="closeDialog('2')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Close</button>
    </mdl-dialog>


  </div>
  
</body>

</html>