.mdl-snackbar-info {
  background-color: #5bc0de;
}

.mdl-snackbar-success {
  background-color: #5cb85c;
}

.mdl-snackbar-warn {
  background-color: #f0ad4e;
}

.mdl-snackbar-error {
  background-color: #d9534f;
}

#notification-snackbar > .mdl-snackbar__text {
  font-size: 20px;
}